@import 'styles/common/variables';
@import 'styles/common/mixins';

.filters {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.filter {
  position: relative;
  margin-right: 10px;
  border-radius: $main-border-radius;
  box-shadow: 0 2px 7px $disabled-icon-color;

  &__container {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
  }

  &__openButton {
    position: absolute;
    padding: 20px 10px 20px 80px;
  }

  &__name {
    max-width: 60px;
    margin-left: 10px;
    font-size: 0.875rem;
    @include cutted-text;
  }
  
  &__icon {
    color: $disabled-icon-color;
  }

  &:last-child {
    margin-right: 0;
  }
}

.options {
  width: 300%;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: $main-border-radius;
  box-shadow: 0 2px 7px $disabled-icon-color;

  &__option {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid rgb(212, 212, 212);
    cursor: pointer;
  }

  &__input {
    margin-left: auto;
    margin-right: 10px;
  }
}
