@import 'styles/common/variables.scss';

.header {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: $secondary-title-size;
  color: white;
  background-color: $project-color;

  &__menuButton {
    margin-left: 20px;
  }

  &__menuIcon {
    color: white;
    font-size: $secondary-title-size;
  }

  &__title {
    margin-left: 20px;
  }
}
