@import 'styles/common/variables';

.likesHead {
  color: black;
  border-bottom: 1px solid rgb(212, 212, 212);

  &__logo {
    width: 100%;
  }

  &__title,
  &__info {
    margin-left: 20px;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__info {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

.likesList {
  color: black;
  padding: 0 5px;

  &__button {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: $main-border-radius;
    cursor: pointer;

    &:hover {
      background-color: $project-color-hover;
      color: $project-color;
    }
  }

  &__icon {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    margin-left: 10px;
    font-size: 1rem;
    color: $disabled-icon-color;

    &:hover {
      color: $project-color;
    }
  }

  &__title {
    font-size: 1rem;
    margin-left: 60px;
  }
}

.noFlyers {
  color: black;
  font-size: 1rem;
  margin-left: 20px;
  margin-top: 20px;
}
