@import 'styles/common/variables';
@import 'styles/common/mixins';

.clearButton {
  position: relative;
  z-index: 15;
  width: 20px;
  height: 20px;
  @include flex-row-center;
  border-radius: 50%;
  background-color: $disabled-icon-color;
  margin-right: 10px;

  &--filterType {
    margin-right: 0;
  }

  &__icon {
    font-size: 10px;
    color: $input-background;
  }
}
