// colors
$project-color: rgb(93, 14, 206);
$project-color-hover: rgba(93, 14, 206, 0.1);
$disabled-icon-color: rgb(95, 95, 95);
$border-color: rgb(204, 204, 204);
$input-background: rgb(230, 230, 230);

// transitions
$main-transition: 0.2s;

// fonts
$secondary-title-size: 1.375rem;

// media-width
$tablet-width: 768px;
$mobile-width: 460px;

// borders
$main-border-radius: 6px;
