// colors
$project-color: rgb(93, 14, 206);
$disabled-icon-color: rgb(179, 179, 179);
$border-color: rgb(204, 204, 204);

// transitions
$main-transition: 0.2s;

// fonts
$secondary-title-size: 1.125rem;

// media-width
$tablet-width: 768px;
